{{!-- for when user selects on one blog post from home page to view comments --}}

<section>
  
  {{#each this}}
  {{!-- comments section for selected blog post --}}
  <main>
    <section>
      <h3></h3>
    </section>
    <section>
      <p>{{comment.content}}</p>
    </section>
    <section>
      -{{user.username}}, {{format_date created_at}}
    </section>
  </main>
  {{/each}}

</section>