<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlogger</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/"></a>
      </h1>
      <nav class="navContainer">
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <div class="navTabs">
          <a href="/">Home</a> |
          <a href="/myposts">Dashboard</a> |
        </div>
        <div>
          <button class="navLogout" id="logoutBtn">Logout</button>
        </div>
        {{/if}}
      </nav>
    </header>
    <br>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>
  <br>
  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>