{{!-- edit blog post form --}}
<section id="cards" class="editPostContainer">
    <div>
        <h2>Edit your post below: </h2>
    </div>
    <br>
    <main class="editPostForm">
        <div>
            <label for="BlogTitle" class="">Blog Title (Required) </label>
            <br>
            <br>
            <input type="input" class="form-control" id="blogTitle" value="{{blogPost.title}}">
        </div>
        <br>
        <br>
        <div>
            <label for="BlogContent" class="">Content (Required) </label>
            <br>
            <br>
            <textarea class="form-control" id="blogContent" rows="3">{{blogPost.content}}</textarea>
        </div>
        <footer>
            <button type="submit" class="btn btn-primary" onclick="updateBlogPost('{{blogPost.id}}')">Update Post</button>
            <button type="button" class="btn btn-primary" onclick="deleteBlogPost('{{blogPost.id}}')">Delete Post</button>
        </footer>
    </main>
  </section>
  <script src="../../js/editBlogPost.js"></script>