{{!-- new blog form section --}}
<section>
    <div>
        Create new post below:
    </div>
    <main>
        <div>
            <input type="input" class="form-control" id="blogTitle">
            <label for="BlogTitle" class="">Blog Title (Required) </label>
        </div>
        <div>
            <label for="BlogContent" class="">Content (Required) </label>
            <textarea class="form-control" id="blogContent" rows="3"></textarea>
        </div>
        <footer>
            <button type="submit" class="" id="createPostBtn">Post</button>
        </footer>
    </main>
</section>