<a href="/"><img src="" class="logo" height="300px"></a>
<section class="signupLoginContainer">
  <div class="pageLogo">
    <h1>Tech <br> Blogger</h1>
  </div>
  <div class="pageForm">
    <h3>Sign up below:</h3>
    <br>
    <br>
    <form>
      <div class="">
        <label for="" class="">Username</label>
        <input type="text" class="" id="userNameInput" aria-describedby="emailHelp">
      </div>
      <br>
      <div class="">
        <label for="" class="">Password</label>
        <input type="text" class="" id="passwordInput">
      </div>
      <br>
      <button type="submit" class="" id="signUpBtn">Sign Up</button>
      <br>
      <br>
      <a class="loginLink" href="/login">Login Instead!</a>
    </form>
  </div>
</section>


<script src="/js/signup.js"></script>