<a href="/"><img src="" class="logo" height="300px"></a>
<h3>Sign up below:</h3>
<form>
  <div class="">
    <label for="" class="">Username</label>
    <input type="text" class="" id="userNameInput" aria-describedby="emailHelp">
  </div>
  <div class="">
    <label for="" class="">Password</label>
    <input type="text" class="" id="passwordInput">
  </div>
  <button type="submit" class="" id="signUpBtn">Sign Up!</button>
  <a class="" id="" href="/login">Login Instead!</a>
</form>

<script src="js/signup.js"></script>